{% extends "base.html" %}
{% block body %}

    <div class="container">
        <section class="team-section">
            <div class="team-grid">
                <!-- Team Member 1 -->
                <div class="team-member">
                    <div class="member-photo">
                        <img src="/static/photos/jemish.jpg" alt="Jemish Koladiya">
                    </div>
                    <h2>Jemish Koladiya</h2>
                    <p class="position">Backend Engineer</p>
                    
                    <div class="contact-info">
                        <p><i class="fas fa-phone"></i> +91 8369355725</p>
                        <div class="social-links">
                            <a href="https://github.com/Jemish-debug" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/jemish-koladiya-51a74b351/" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Team Member 2 -->
                <div class="team-member">
                    <div class="member-photo">
                        <img src="/static/photos/athrava.jpg" alt="Atharva Patil">
                    </div>
                    <h2>Atharva Patil</h2>
                    <p class="position">Frontend Engineer</p>
                    
                    <div class="contact-info">
                        <p><i class="fas fa-phone"></i> +91 8104776515</p>
                        <div class="social-links">
                            <a href="https://github.com/Bioflex" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/atharva-patil-243a40304/" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock body %}